@mixin button($color, $bgcolor, $hover-bgcolor, $hover-color) {
    width: 100%;
    height: 36px;
    text-align: center;
    color: $color;
    background-color: $bgcolor;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;
    &:hover {
        transition: 0.7s;
        background-color: $hover-bgcolor;
        color: $hover-color;
    }
  }