@use "../abstracts" as *;

.navTop {
    display: flex;
    justify-content: space-around;
    background-color: $nav-light-color;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;


    div.div_logo {

        a {
            .home_button {
                height: 60px;
                width: 200px;
            }
        }
    }

    .navList {

        .nav_buttons {
            color: $nav-list-buttons-color-light;
            size: 2rem;
            padding-right: 1rem;
            padding-left: 1rem;
            border-radius: 4px;
            font-size: 1.2rem;


            &:hover {
                transition: 0.7s;
                background-color: #c9cfdc;
                color: #403f4b;
            }
        }
    }
}

.active {
    background-color: #6A5B6E;
    color: #403f4b;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    color: white;
    position: sticky;
    top: 0;
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
    background-color: #c9cfdc;
    color: #403f4b;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}


@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}