div.categories-container {

    margin: 1rem;
    width: 20%;

    div.area-categories-container {

        h3 {
            margin-bottom: 10px;
        }

        ul {
            li {
                label {
                    margin-left: 10px;
                }
            }
        }
    }
}