@import "../../../assets/variables.scss";

div.mentory-list-container {

    h1 {
        text-align: center;
        color: $titles-color;
    }

    div.mentories-and-filter-container {
        display: flex;
        margin-top: 2rem;
    }

    // .mentories-and-filter-container > * {
    //     flex: 15 1;
    //   }

}