.navTop {
    display: flex;
    justify-content: space-around;
    background-color: grey;
    align-items: center;
    color: black;
    flex-wrap: wrap;
}

.home_button {
    height: 40px;
    width: 40px;
}

.nav_buttons {
    color: black;
    size: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 4px;

}

.nav_buttons:hover {
    transition: 0.7s;
    background-color: #c9cfdc;
    color: #403f4b;
}